body{
    display: flex; align-items: center; justify-content: center;
    width: 100%; height: 100vh;
    margin: 0; padding: 0;
}
ol,li,a{list-style: none; color: #000;}
*{
    padding: 0; margin: 0; font-size: 100%; box-sizing: border-box;
}

#section_box{
    width: 100%; height: 300px;
}

#section_box .tab_menu{
    display: flex; justify-content: center; align-items: center; gap: 30px;
    margin-bottom: 50px;
}

#section_box .tab_menu_li{
    display: flex; align-items: center; justify-content: center;
    width: 300px; height: 100px; border-radius: 30px; background-color: rgb(33, 141, 99);
}

#section_box .tab_menu_li.active{
    display: flex; align-items: center; justify-content: center;
    width: 300px; height: 100px; border-radius: 30px; background-color: rgb(47, 115, 197); color: white;
}

#section_box .content_box {
    display: flex; align-items: center; justify-content: center;
    width: 1260px; height: 300px; background-color: #fdd;
    margin: 0 auto;
}
